CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y

CONFIG_APP_SENSOR_MOCK_ENABLED=y
CONFIG_APP_SENSOR_INTERVAL_MS=5000
CONFIG_APP_WIFI_ENABLED=n
CONFIG_APP_CLOUD_ENABLED=n
CONFIG_APP_CLOUD_MODEL="demo-model"
CONFIG_APP_BACKEND_ENABLED=n
CONFIG_APP_BACKEND_COMMAND_ENABLED=n
CONFIG_APP_BACKEND_COMMAND_POLL_MS=5000
CONFIG_APP_CAMERA_ENABLED=n
CONFIG_APP_DISPLAY_ENABLED=n
CONFIG_APP_ACTUATOR_ENABLED=n
CONFIG_APP_BUTTON_ENABLED=n
CONFIG_APP_TFT_CS_GPIO=5
